@media screen and (max-width:500px){
    .navbar{display:block;}
    .navbar-nav {
        display: block;}
        .navbar-nav li a {
            display: block;}
        .search-container{display:block;
        width:100%;}
        .search-input-groups {
            display:flex;
            flex-direction:column;
        width:100%;}
        .form-range-container{
            display:block;
        }
        .display{display:block;}
        .task{
            grid-gap:3rem;
        }
        .results-data-container {
            width:0 10px;
        margin:0px;}
            .details{
                padding:20px;
            }
            .particular p{
padding:20px 0px;              
              }
              .result-data-name p{
                  padding:22px;
              }
              .results-data-title{
                  width:50%;
                  /* padding:-10px; */
              }
              .results-data-value{
                  width:50%;
              }
              .container{
                position: relative;
                width: 100%;
              }
              .results-data-value p {
                padding:15px;}
                .results-data-container {padding:0px;}
                .task{
                    margin-left:10px;
                }
                .align{
                    display:block;
                    
                }

                .contain{
                    display:flex;;
                    
                }

}